@font-face {
  src: url('../fonts/Comfortaa.ttf');
  font-family: 'font-comfortaa';
}

@font-face {
  src: url('../fonts/ChelseaMarket-Regular.ttf');
  font-family: 'font-chelsea';
}

@font-face {
  src: url('../fonts/Inter-Black.otf');
  font-family: 'font-inter';
}