html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url('../img/paw.png'), auto;
  color: white;
}

a {
  cursor: url('../img/paw.png'), auto;
}

* {
  cursor: url('../img/paw.png'), auto;
}

/* шапка */

.header {
  width: 100%;
  height: 8vw;
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}

.header > a:first-child {
  display: block;
  height: 100%;           
  }

.text {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 8vw;
}
  
a {
  font-family: "font-comfortaa";
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  text-align: center;             
  padding: 0.5vw 1.5vw;           
  border: 0.3vw solid black;      
  border-radius: 2vw;             
  transition: 0.3s;              
}

/* красные кнопки */
a.red {
  border-color: #b5231e;
}

/* баннер главный */
h1 {
  font-family: "font-chelsea";
  text-decoration: none;
  color: #b5231e;
  font-size: 10vw;
  text-align: center;
  padding: 10vw 1.5vw; 
}

.main_banner {
  position: relative;
  text-align: center;
  margin-top: 2vw;
}

.pattern {
  position: absolute;
  top: -3vw; 
  left: 40%;
  transform: translateX(-50%);
  width: 25vw;
  z-index: 0;
}

.bone {
  position: absolute;
  top: 20vw;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  z-index: 2;
}

.strips {
  position: absolute;
  top: 7vw;
  right: 17vw;
  width: 10vw;
  transform: rotate(10deg);
  z-index: 1;
}

.main_text p {
  font-family: "font-comfortaa";
  font-size: 3vw;
  text-align: center;
  color: black;
  line-height: 2vw;
  margin-top: 10vw;
  line-height: 3vw;
}

.left_img,
.right_img {
  position: absolute;
  top: 0;
  z-index: 0;
}

/* левая группа банок */
.left_img {
  left: 0;
}

.left_img .can1:first-child {
  position: absolute;
  top: 17vw;
  left: -14vw;
  width: 35vw;
  transform: rotate(4deg);
}

.left_img .can1:nth-child(2) {
  position: absolute;
  top: 30vw;
  left: 2vw;
  width: 25vw;
  transform: rotate(5deg);
}

/* правая банка */
.right_img {
  right: 0;
}

.right_img .can1 {
  position: absolute;
  top: 20vw;
  right: -8vw;
  width: 38vw;
  transform: rotate(3deg);
}